*{
    margin:0;
    padding: 0;
}
#canvas{
    flex-grow: 0;
    flex-shrink: 0;
    width:1200px;
    height:800px;
    float: left;
    background: #274046;
}
#canvasDiv{
    border: 2px solid black;
    width: 100%;
    display:flex;
    justify-content:space-evenly;
    padding: 50px;
    background: #0E272D;

}
#optionsDiv{
    position:relative;
    /*width: 230px;
    border: 2px solid white;*/
    border-radius: 12px;
    background: #274046;
    color: #ecf0f1;
    display: flex;
    justify-content:start;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}
#showLines{
    transform: scale(1.5);
    margin-top: 5px;
    margin-bottom: 10px;
}
.text{
    font-size: 20px;
    display: inline-block;
    
}
.slider{
    display:block;
    width: 150px;
    
    
}
.textMiddle{
    display:block;
    text-align:center;
    width: 150px;
    
}
#addPointButton{
    display:block;
    width:100px;
    height:30px;
    margin: 5px;
}