*{
    margin:0;
    padding: 0;
}
body{
    height: 100%;
    background: #546E7A;
}
#canvas{
    flex-grow: 0;
    flex-shrink: 0;
    width:1200px;
    height:800px;
    float: left;
    background: #90A4AE;
}
#canvasDiv{
    background: #546E7A;
    display:flex;
    justify-content:space-evenly;
    padding: 50px;
}
#optionsDiv{
    background: #90A4AE;
    position:relative;
    width: 200px;
    height: 800px;
    border-radius: 12px;
    /*color: #ecf0f1;*/
    display: flex;
    justify-content:start;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}
#showLines{
    transform: scale(1.7);
    margin: 5px 10px 10px 5px;
}
.text{
    font-size: 20px;
    display: inline-block;
    
}
.slider{
    display:block;
    width: 150px;
}
.textMiddle{
    display:block;
    text-align:center;
    width: 150px;
}
#addPointButton{
    display:block;
    width:100px;
    height:30px;
    margin: 5px;
}
#optionsDiv div{
    background: #B0BEC5;
    width:100%;
    display: flex;
    justify-content:start;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}
h1{
    margin: 20px;
}
div.displayPoints{
    width: 100%;
    height: 50px;
    font-size: 30px;
    border-bottom: 2px solid #546E7A;
    background: #B0BEC5;
}
span.displayPoints{
    height: 50px;
    font-size: 30px;
}
#pointsDiv{
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 2px solid #546E7A;
}